
/* code mirror syntax styling */
/* #428bca */
.cm-xn-hashtag { font-weight: bold; color: #48c; }
.cm-xn-persontag { font-weight: bold; color: #8c4; }
.cm-xn-maptag { font-weight: bold; color: #c48; }
