.selectize-input input[type="text"] {
	border:1px solid #d0d0d0 !important;
	background:white !important;
	padding:4px !important;
	min-width:100px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 3px;
} 
.selectize-input {
	cursor:default !important;
	border:0px !important;
	background:transparent !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow:none !important;
	box-shadow: none !important;
}