.typeahead,
.tt-query,
.tt-hint {
  /*width: 396px;*/
  /*height: 30px;*/
  padding: 2px 3px;
  font-size: 12px;
  /*line-height: 30px;*/
  border: 2px solid #ccc;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  z-index: 4000 !important; /*TODO why important?*/
  max-height: 250px;
  overflow-y: auto;
  padding: 0px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 3px;
  font-size: 12px;
  /*line-height: 24px;*/
}

.tt-suggestion.tt-cursor,.add-new-tt.sel {
  color: #fff;
  background-color: #0097cf;
}

.add-new-tt.sel a {
  color: #fff;
}
.add-new-tt a:hover {
  text-decoration: none;
}

.tt-suggestion p {
  margin: 0;
}

ul.suggest-labels {
  display: inline;
  padding-left: 0;
  vertical-align: middle;
}
.suggest-labels li {
  display: inline;
}

.suggest-labels a {
    border: 1px solid lightgray;
    /*color:gray;*/
    margin:0px 4px 2px 0px;
    background: white;
    padding:0px 5px 0px 5px;
    border-radius:3px;
    /*font-size:12px;*/
    -webkit-transition:all 0.3s linear;
    display: inline-block;
}

.suggest-labels a:hover {
  text-decoration: none;
  color:#333;
  border-color:gray;
}

.suggest-labels a.toggled {
  text-decoration: none;
  color:#333;
  border-color:gray;
}

.related-idea-input {
  margin-top:3px;
  min-height:25px;
  padding-bottom:5px;
  border-bottom:1px dashed #efefef;
}

.related-idea-add {
  border-radius:3px;
  line-height: 16px;
  padding-left:4px;
  font-size:12px;
  border:1px solid white;
  -webkit-transition:border-color, 0.5s linear;
  margin-right:3px;
  margin-top:1px;
  padding-top:3px;
  padding-bottom: 3px;
}
.related-idea-add:hover {
  cursor:pointer;
}
.related-idea-add:focus {
  border-color:lightgray;
  cursor:text;
  border-width:1px;
  -webkit-transition:border-color, 0.5s linear;
}
.twitter-typeahead {
  vertical-align: middle;
}

.add-new-tt {
  cursor:pointer;
  margin: 0px;
  padding: 2px 3px 5px 3px;
  font-size: 12px;
  line-height:18px;
}
