body {
    background: #FFF;
    font-weight:300;
}

div.container {
    background: white;
    
}

div.container h1 {
    margin-top: 0px;
}

div.container textarea.span11 {
    height: 20px;
}

td.timecol {
    width: 80px;
    color:#AAA;
    padding-right:0;
    text-align:right;
    font-size:10px;
	white-space:nowrap;
}

.uid {
    color:#AAA;
    font-size:10px;
    padding-right:15px;
	
	display:none; /* hack */
}


div.status{
	width:20px;
	height:20px;
	border-radius:50px;
	font-size:20px;
	color:#fff;
	line-height:100px;
	text-align:center;
}

div.sc0 { /*Status: not acknowledged*/
	/*background:#AAA*/
	background:transparent;
	border:1px solid #DDDDDD;
}
div.sc1 { /*Status: acknowledged*/
	background:#FF0;
	border:1px solid #FF0;
}
div.sc2 { /*Status: acknowledged and in progress*/
	background:#2eabe6;
	border:1px solid #2eabe6;
}
div.sc3 { /*Status: complete*/
	background:#0F0;
	border:1px solid #0F0;
}

td.status {
	width:28px;
	vertical-align: middle;
}

.popover {

}

.popover-content{
	height:0;
	padding:0;
}

.popover-title {
	background:white;
	border:0;
}

.progress {
	/* #101010, #181818 */
	height: 20px;
	margin-bottom: 20px;
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
}

.hasUnexpandedChildren {
	background-color:#f9f9f9;
}



a.showcomments {
	background-image: url(images/commenticon.gif);
	padding-left:15px;
	background-position: 0px 1px;
	background-repeat:no-repeat;
}
a.showcomments:hover {
	background-position: 0 -16px;
	
}

div.showcomments {
	margin-left:47px;
	margin-top:5px;
/*	position:relative;
	top:-35px;*/
}

div.commentform input[type=button] {
	
	height:24px;
	line-height:14px;
}

div.commentform div.commentsinput {
	float:left;
	height:22px;
	width:220px;
	
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

#postform textarea {
	font-weight:200!important;
}
#postform .btn {
	font-weight:200!important;
	margin-left:5px;
	height:50px;
}
#postform{
	margin-bottom:0px;
}


.hiddenText{
	display:none;
}

.navbar-text input[type="text"] {
	width:150px;
	font-size:12px;
	margin:1px 0px 5px 10px;
}

.navbar-text input[type="button"]{
	background-color: #eee;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    display: inline-block;
    margin:0px 0px 5px 10px;
    height: 30px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#numResults {
	color:#999;
	margin-bottom:10px;
}

.navbar-text input[type="button"]:active{
	background-color: #ddd;
}

.LinkCreateType {
	width:120px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #ccc;
	font-size:12px;
	outline:none;
	padding:2px 2px 1px 4px;
}


/*

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    background-image: url(page.png);
    background-position: 0 1px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
li.folder {
    background-image: url(folder.png);
}

a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}*/


.star {
	width:18px;
	height:18px;
	margin-left:-60px;
	margin-top:-6px;
	float:left;
	display:none
}

.star-on {
	background-position: 0px -190px;
	display:none
}

.star-off,.star-on {
	background-position: 0px -150px;
	width: 33px;
	height: 31px;
	background-color:red;
	background-image: url(images/stars.png);
	
	
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-origin: padding-box;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-color: rgb(0, 119, 204);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-collapse: collapse;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(0, 119, 204);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(0, 119, 204);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(0, 119, 204);
	border-top-style: none;
	border-top-width: 0px;
	color: rgb(0, 119, 204);
	cursor: pointer;
	display: block;
	font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
	font-size: 1px;
	height: 31px;
	line-height: 1px;
	margin-bottom: 0px;
	margin-left: 13.5px;
	margin-right: 13.5px;
	margin-top: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-align: center;
	text-decoration: none solid rgb(0, 119, 204);
	text-indent: -9999px;
	vertical-align: baseline;
	width: 33px;
	zoom: 1;
}

input[type="text"].usr {
	width:114px
}

div.delete {
	float:right;
	height:0px;
	margin-top:-5px;
	
}
div.delete a {	
	display:none;
}